* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-link--green {
    color: green !important;
}

.pr-6 {
    padding-right: 2.5rem !important;
}

.container {
    min-width: 100%;
    min-height: 780px;
    padding: 0 !important;
    margin: 0 auto;
    background-image: url(../img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    line-height: 22px;
    position: relative;
}

.container-opacity {
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 780px;
    padding: 0;
    margin: 0 auto;
    text-align: right;
}

.inner-container {
    width: 30%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
}

.flex-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.speakers-section {
    margin: auto;

}

.speakers-section__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.speakers-section__title,
.become-section__title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: small;
    text-transform: uppercase;
}

.speakers-section__title-span, 
.become-section__title-span {
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.card-title {
    margin-bottom: 20px !important;
}

.honolulu-section {
    display: flex;
    flex-basis: 40%;
    max-width: 100%;
    margin-top: 30px;
    max-height: 600px;
}

.honolulu-section > img {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.honolulu-section__right {
    background-color: #353a40;
    color: #fff;
    max-width: 100%;
    padding: 20px;
    border-left: 1px solid #fff;
}

.become-section {
    text-align: center;
    max-width: 60%;
    margin: 30px auto;
}

.become-section__link {
    color: #000;
}

.input-group {
    gap:20px;
}

#send-button {
    width: 100%;
    background-color: #96c93e;
    border-color: #96c93e;
}

.form-label {
    text-align: left;
    font-size: 14px;
    font-weight: 100;
    color: gray;
}

.main-footer {
    background-color: #1e5170;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main-footer__links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.main-footer__link {
    text-decoration: none;
    color: #fff;
    max-width: 20px
}

.categories {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.categories__card {
    width: 220px;
    height: 220px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.categories__card:nth-child(1) {
    border: 2px #007bfe solid;
}

.categories__card:nth-child(2) {
    border: 2px #21a4b8 solid;
}

.categories__card:nth-child(3) {
    border: 2px #ffc40e solid;
}

.categories__discount {
    display: block;
    font-weight: bold;
}

.categories__documentation {
    margin-top: 20px;
    display: block;
    font-size: 12px;
    color: #ccc;
}

.ticket-form {
    margin: 20px 120px;
}

.ticket-form__total {
    background-color: #cce5ff;
    border-radius: 5px;
    margin: 20px auto;
    color: #195294;
}

.ticket-form__total-title {
    font-size: 16px;
    font-weight: normal;
    padding: 20px;
}

.ticket-form__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.ticket-form__button {
    width: 100%;
    background-color: #97c93e !important;
    border-color: #97c93e !important;
}